<!DOCTYPE html>
<html>
    <head>
        <title>YARR</title>
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="wrap">
            <div class="header">
                <h1 class="logo"><a href="/">YARR<img src="/static/logo.jpeg"></a></h1>
                <div class="search">
                    <a class="add" href="/add/">ADD PODCAST</a>
                    <input id="pod-search" type="text" placeholder="Search">
                    <img id="pod-search-btn" src="/static/search.png">
                </div>
            </div>
            <div class="grid-container">
                {{range .Pods}}
                    <div class="episode">
                        <a href="/pods/{{.Id}}" class="whr">
                            <img src="{{.AlbumArt}}" class="albumart">
                            <h1 class="title">{{.Title}}</h1>
                            <p class="description"></p>
                            <template>
                                {{.Description}}
                            </template>
                            <p class="creator"><b>By</b> {{.Creator}}</p>
                            {{if $.Admin}}
                                <br>
                                <a href="/admin/approve/{{.Id}}/?admin={{$.AdminKey}}" class="approve">APPROVE</a>
                                <a href="/admin/delete/{{.Id}}/?admin={{$.AdminKey}}" class="delete">DELETE</a>
                            {{end}}
                        </a>
                    </div>
                {{end}}
                <br><br>
            </div>
        </div>

        <script src="/static/template.js"></script>
    </body>
</html>